/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  //background-color: rgba(0, 0, 0, 0.1);
}

body {
  background: url("img/bg.png");
  background-size: cover;
  font-family: "Tahoma";
}

.heading {
  padding-top: 50px;
  text-align: center;
}

.footer {
  margin-top: 20px;
  width: 350px;
  float: right;
  text-align: center;
}

.heading img, .footer img {
  opacity: 0.5;
  padding: 5px;
}

.content {
  margin: 0 auto;
  width: 920px;
}

.form {
  text-align: center;
  width: 420px;
}

.form {
  display: block;
}

.form:nth-child(2n + 1) {
  float: right;
}

.form:nth-child(2n) {
  float: left;
}

.form h1 {
  margin: 20px;
  color: white;
  font-size: large;
}

.form:not(:nth-last-child(2)) h1::after {
  content: " Form";
}

form {
  background-color: #f4f4f4;
  border: 18px solid rgba(0, 0, 0, 0.2);
  border-radius: 1%;
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

input, textarea {
  padding: 10px 10px;
  margin-top: 20px;
  width: 340px;
}

input:last-child {
  margin-bottom: 20px;
}

span.checkbox {
  display: inline-block;
  width: 370px;
  //margin-left: -10px;
  text-align: left;
  //background-color: red;
}

span.checkbox label {
  text-align: right;
  display: inline-block;;
  width: 340px;
}

input[type="checkbox"] {
  width: 20px;
}

input[type="submit"].register {
  background: red;
}

.area {
  padding-bottom: 100px;
}
